[submodule "ext/nanobind"]
	path = ext/nanobind
	url = https://github.com/wjakob/nanobind
[submodule "ext/mxx"]
	path = ext/mxx
	url = https://github.com/patflick/mxx.git
[submodule "ext/trng4"]
	path = ext/trng4
	url = https://github.com/rabauke/trng4.git
